<div class="card my-5">
  <div class="card-body">
	<mat-form-field id="filter" >
		<input matInput placeholder="filter naam, Branch of Winkelgebied..." [(ngModel)]="query" value="">
	</mat-form-field>

	<table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
			<th scope="col">Type</th>
			<th scope="col">Naam</th>
			<th scope="col">Branche</th>
			<th scope="col">winkelgebied</th>
			<th scope="col">Location</th>
			<th scope="col">Map</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let h of horeca | search:'Naam, Branche, Winkelgebied':query">
			<td>{{ h.json_featuretype}}</td>
			<td>{{ h.Naam }}</td>
			<td>{{ h.Branche }}</td>
			<td>{{ h.Winkelgebied }}</td>
			<td>{{ h.Straat }} {{h.HuisNr}}, {{h.Postcode}} {{h.Gemeente}}</td>
			<td><a href="#" class="dislaymap" [attr.data-latlng]="h.json_geometry.coordinates">Show Map</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div id="maps">
	
</div>
<script>

	function initMap(e) {
		let latlng = {lat: 51.0538502, lng: 3.7231907};
		map = new google.maps.Map(document.getElementById('maps'), {
			center: latlng,
			zoom: 12,
			clickableIcons: false,  // prevent admin from clicking on Maps POI icon instead of placing marker (ie. a train station)
			fullscreenControl: false,
			gestureHandling: 'greedy',
			mapTypeControl: false,
			streetViewControl: false
		});
	}

	document.querySelector(".dislaymap").addEventListener("click", initMap);
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=   YOUR_API_KEY   &callback=initMap"
    async defer></script>