<div class="card my-5">
  <div class="card-body">
	<mat-form-field id="filter" >
		<input matInput placeholder="filter naam, Branch of Winkelgebied..." [(ngModel)]="query" value="">
	</mat-form-field>

	<table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
			<th scope="col">Type</th>
			<th scope="col">Naam</th>
			<th scope="col">Branche</th>
			<th scope="col">winkelgebied</th>
			<th scope="col">Location</th>
			<th scope="col">Map</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let h of horeca | search:'Naam, Branche, Winkelgebied':query">
			<td>{{ h.json_featuretype}}</td>
			<td>{{ h.Naam }}</td>
			<td>{{ h.Branche }}</td>
			<td>{{ h.Winkelgebied }}</td>
			<td>{{ h.Straat }} {{h.HuisNr}}, {{h.Postcode}} {{h.Gemeente}}</td>
			<td><button >Show Map</button></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
